# IoT Operations Settings
###################################################################################################
# Id of the tenant you are using
export TENANT_ID=""

# Id of the subscription where your resource group and Arc-enabled cluster will be created
export SUBSCRIPTION_ID=""


# Azure region where the created resource group will be located
# Currently supported regions: "eastus", "eastus2", "westus", "westus2", "westus3", "westeurope", or "northeurope"
export LOCATION=westus

# Name of a new resource group to create which will hold the Arc-enabled cluster and Azure IoT Operations resources
export RESOURCE_GROUP=aio-lab

# Name of the Arc-enabled cluster to create in your resource group
export CLUSTER_NAME=aio-cluster


# name of the keyvault to use
export KEYVAULT_NAME="<>"

export VM_NAME="aio"
export KUBECONFIG="" #this will be updated later
